.row {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.first-head-row {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.second-head-row {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo-image {
  height: 50px;
  object-fit: contain;
}

.logo-gmail-text {
  display: inline;
  font-size: 34px;
}

.get-email-btn {
  float: right;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
}

.in-2ndrow {
  padding-top: 15px;
}

.link-1 {
  float: left;
}

.link-2 {
  float: right;
}

.intro-head {
  text-align: center;
  font-size: 40px;
}

.intro-head-caption {
  text-align: center;
  font-size: 12px;
}

.landing-page-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  object-fit: contain;
  background-color: lightgrey;
}

.get-email-in-content-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 15px;
  margin-top: 30px;
}

.appStore-content-head {
  font-size: 36px;
  text-align: center;
}

.appStore-content-caption {
  font-size: 12px;
  text-align: center;
}

.playstore-image {
  float: right;
  height: 45px;
  object-fit: contain;
}

.mac-store-image {
  float: left;
  height: 45px;
  object-fit: contain;
}

.experience-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: contain;
}

.stay-organised-content-head {
  font-size: 36px;
  text-align: center;
}

.stay-organised-content-caption {
  font-size: 12px;
  text-align: center;
}

.stay-organised-image {
  height: 400px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.getStarted-logo-image {
  height: 50px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.getStarted-content-head {
  font-size: 36px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.getStarted-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: 14px;
}

.ft-google-text {
  font-size: 32px;
}
