/ body {
    background-color: #b6c1c9;
}

.col-height {
    height: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid white;
    text-align: center;
    padding: 20px;
}

.col-blue {
    background-color: #769776;
}

.col-skyblue {
    background-color: skyblue;
}

.col-green {
    background-color: green;
}

.col-voilet {
    background-color: #989766;
}

.col-lightgreen {
    background-color: lightgreen;
}

*/
