.flex-box {
    display: flex;
    align-items: center;
}

.item_container {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
    justify-content: center;
}

.html_image {
    object-fit: contain;
    width: 100px;
}

.css_image {
    object-fit: contain;
    width: 100px;
}

.bs_image {
    object-fit: contain;
    width: 100px;
}

.js_image {
    object-fit: contain;
    width: 100px;
}

.html_block {
    background-color: #6495ED;
}

.css_block {
    background-color: DarkMagenta;
}

.bs_block {
    background-color: DarkOrange;
}

.js_block {
    background-color: #00CED1;
}
