* {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
}

.components-grid-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;

}

.navigation-bar {
  background-color: midnightblue;
  color: white;
  text-align: center;
}

.menu-item-container {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px 10px 5px 10px;
  margin-bottom: 1%;
  margin-top: 1%;
}


/* Main - Header  contains GRID */

.main-header {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
}

.my-details-area {
  margin-left: 30%;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
}

.detail-item-container {
  list-style-type: none;
}

.greet-feild {
  background-color: green;
  padding: 10px;
  display: inline-block;
}

.name-feild {
  font-size: 28px;
}

.email-feild {
  margin-bottom: 5%;
  font-size: 18px;
  display: inline-block;
}

.contact-feild {
  margin-bottom: 5%;
  font-size: 18px;
  display: inline-block;
}

.address-feild {
  margin-bottom: 5%;
  font-size: 18px;
  display: inline-block;
}

.contact-image-icon-item {
  height: 20px;
  object-fit: contain;
  margin-right: 2%;
  margin-bottom: -1.5%;
}

.contact-detail-item-first {
  margin-top: 5%;
}

.contact-detail-item-last {
  margin-bottom: 5%;
}

.social-icon-item {
  height: 30px;
  object-fit: contain;
  margin-right: 6%;
  filter: invert(100%);
  border: 0px;
}

.profile-pic-area {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.profile-pic-container {
  border-radius: 100%;
  height: 200px;
  object-fit: contain;
}

/* about me section */

.about-me-section {
  height: 200px;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  text-align: center;
}

.about-me-image-area {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.about-me-image-item {
  height: 150px;
  object-fit: contain;
}

.about-me-content-area {
  margin-top: 2%;
  margin-bottom: 2%;
}

.about-me-content-head {
  margin-top: 2%;
  margin-bottom: 2%;
  color: white;
}

.about-me-content-paragraph {
  font-size: 22px;
  color: white;
}

.about-me-skill-set-intro {
  margin-top: 3%;
}

.skill-set-item {
  display: inline-block;
  margin-right: 5%;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-size: 22px;
  padding: 5px;
}

/* what i do section */

.what-i-do-section {
  width: 100%;
  background-color: lightgrey;
}

/*card starts here*/

.card {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 10%;
  margin-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: black;
  color: white;

}

.card-image {
  padding: 10px;
  background-color: green;
}

.card-title {
  background-color: darkgrey;
  padding: 10px;
  font-size: 20px;
}

.card-content {
  padding: 20px;
  font-size: 18px;
}

/*card ends here*/

.technical-professional-skills {
  height: 200px;
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr;
}

.education-work-experience {
  display: grid;
  grid-template-columns: 1fr;
  height: 200px;
  width: 100%;
  background-color: yellow;
}

.footer-section {
  height: 200px;
  width: 100%;
  background-color: brown;
}

@media (min-width: 992px) {
  /* Main Grid Container */
  .components-container {
    grid-template-columns: 1fr 1fr;
  }

  /* Navigation Bar */
  .navigation-bar {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .menu-item-container {
    display: inline-block;
    margin-left: 1.75%;
    margin-right: 1.75%;
    padding: 15px 40px 15px 40px;
  }

  /* My details and Profile pic area */
  .main-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 1fr 1fr;
    background-color: black;
  }

  .my-details-area {
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
  }

  .greet-feild {
    margin-bottom: 10%;
    border-radius: 5px;
    display: inline-block;
    background-color: green;
    font-size: 24px;
  }
  .name-feild {
    font-size: 30px;
    margin-bottom: 1%;
  }

  .profession-feild {
    margin-bottom: 8%;
  }

  .email-feild {
    margin-bottom: 5%;
    font-size: 21px;
  }

  .contact-feild {
    margin-bottom: 5%;
    font-size: 22px;
    display: inline-block;
  }

  .contact-image-icon-item {
    height: 20px;
    object-fit: contain;
    margin-right: 2%;
    margin-bottom: -1.5%;
  }

  .address-feild {
    margin-bottom: 5%;
    font-size: 22px;
    display: inline-block;
  }

  .social-icon-item {
    height: 35px;
    object-fit: contain;
    margin-right: 5%;
    filter: invert(100%);
    border: 0px;
  }
  .detail-item-container {
    list-style-type: none;
  }
  .profile-pic-area {
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;

  }

  .profile-pic-container {
    border-radius: 100%;
    height: 300px;
    object-fit: contain;
  }

  /* About Me section with intro and image */
  .about-me-section {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .about-me-image-area {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .about-me-image-item {
    height: 300px;
    object-fit: contain;
  }

  .about-me-content-area {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .about-me-content-head {
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
  }

  .about-me-content-paragraph {
    font-size: 24px;
    color: white;
  }

  .skill-set-item {
    display: inline-block;
    margin-right: 5%;
    border: 1px solid green;
    background-color: green;
    color: white;
    font-size: 22px;
    padding: 5px;
  }

  /* what i do section */
  .what-i-do-section {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 10%;
    padding-right: 10%;
  }

  /*cards*/
  .card {
    display: inline-block;
    width: 30%;
    padding: 0;
    margin: 0;
  }


  .card-image {
    padding: 30px;
    background-color: green;
  }

  .card-title {
    background-color: darkgrey;
    padding: 30px;
    font-size: 26px;
  }

  .card-content {
    padding: 40px;
    font-size: 22px;
  }

  /*card ends here*/
  .technical-professional-skills {
    height: 200px;
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .education-work-experience {
    height: 200px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer-section {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
