* {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
}

.components-grid-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;

}

.navigation-bar {
  background-color: midnightblue;
  color: white;
  text-align: center;
}

.menu-item-container {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 20px 10px 20px;
  margin-bottom: 1%;
  margin-top: 1%;
}


/* Main - Header  contains GRID */
.main-header {
  width: 100%;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr;
}

.my-details-area {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;

}

.detail-item-container {
  list-style-type: none;
}

.profile-pic-area {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* about me section */

.about-me-section {
  height: 200px;
  width: 100%;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr;
}

.what-i-do-section {
  height: 200px;
  width: 100%;
   background-color: lightgrey;
}

.technical-professional-skills {
  height: 200px;
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr;
}

.education-work-experience {
  display: grid;
  grid-template-columns: 1fr;
  height: 200px;
  width: 100%;
   background-color: yellow;
}

.footer-section {
  height: 200px;
  width: 100%;
   background-color: brown;
}

@media (min-width: 992px) {
  /* Main Grid Container */

  .components-container {
    grid-template-columns: 1fr 1fr;
  }

  /* Navigation Bar */
  .navigation-bar {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .menu-item-container {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px 40px 15px 40px;
  }

  /* My details and Profile pic area */

  .main-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 1fr 1fr;
  }

  .my-details-area {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;

  }

  .detail-item-container {
    list-style-type: none;
  }

  .profile-pic-area {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /* About Me section with intro and image */
  
  .about-me-section {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 1fr 1fr;
  }

  .what-i-do-section {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .technical-professional-skills {
    height: 200px;
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .education-work-experience {
    height: 200px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer-section {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
