
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Product Sans",Arial,Helvetica,sans-serif;
}
.content-wrapper {
    padding-top: 20px;
}

/*------Navigation-------*/

.navigation {}

/*logo-section*/

.logo-section {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;

}

.logo {
    height: 24px;
    object-fit: contain;
    margin-right: 5px;
}

.logo-text {
    font-size: 26px;
    font-weight: 400
    color: grey;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
}

.logo-button {
    margin-left: auto;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

/*  nav - menu - section */

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    font-size:16px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09);

    padding-left: 30px;
    padding-right: 30px;
}

.nav-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
    color: gray;
}

.nav-menu-button-item {
    display: none;

}

/* Main content starts */

/* Get more done with Gmail */

.main-contanier {

}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    padding: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 1.5;
    font-weight: 400;
}

.flex-container-head {
    font-size: 44px;
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.flex-container-text {
    font-family: arial;

}

.flex-container-image {
    height: 450px;
    object-fit: contain;
}

.flex-container-experience {
  background-color: white;
}

.flex-container-experience-text {
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-container-experience-item {
  padding-bottom: 20px;
}


.flex-container-experience_image {
    height: 180px;
    object-fit: contain;
}

.flex-container-item {
    margin-bottom: 15px;
}

.flex-container-app-store-image {
    height: 50px;
    object-fit: contain;
}
