body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    padding-top: 20px;
}

/*------Navigation-------*/

.navigation {}

/*logo-section*/

.logo_content {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid lightgrey;

}

.logo {
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
}

.logo-text {
    font-size: 22px;
    color: grey;
}

.logo-button {
    color: white;
    background-color: blue;
    margin-left: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
    margin-bottom: 5px;
}

/*  nav - menu - section */

.nav_menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09);
}

.nav-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
    color: gray;
}

.nav-menu-button-item {
    display: none;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09);
}

/* Main content starts */

/* Get more done with Gmail */

.main-contanier {
    padding-left: 30px;
    padding-right: 30px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: whitesmoke;
}

.flex-container-head {
    font-size: 34px;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.flex-container-text {
    font-family: arial;
}

.flex-container-image {
    height: 300px;
    object-fit: contain;
}

.flex-container-experience_image {
    height: 150px;
    object-fit: contain;
}

.flex-container-item {
    margin-bottom: 15px;
}

.flex-container-app-store-image {
    height: 25px;
    object-fit: contain;
}
