body {
    padding-top: 20px;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: flex-start;
}

.logo-section {
    height: 70px;
    border-radius: 1000px;
    object-fit: contain;
    margin-right: 10px;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.header-content {
    display: flex;
    align-items: center;
    width: 350px;
    font-size: 22px;
}

.head-name {
    margin-right: 6px;
}

.tick_image {
    margin-right: 8px;
    height: 25px;
    object-fit: contain;

}

.twitter-text {
    margin-right: 8px;
    color: grey;
}

.dot-item {
    margin-right: 3px;
    color: grey;
}

.date {
    color: grey;
}

.dropdown_img {
    height: 20px;
    object-fit: contain;
    margin-left: auto;
}

.tweet-message {
    font-size: 22px;
    margin-top: 8px;
}

.social-navigation {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.social-navigation-item {
    display: flex;
    align-items: center;
}

.social_info_image {
    margin-right: 5px;
}


.social_info_image_lg {
    display: none;
}

.social_numbers {
    color: grey;

}

@media (min-width: 768px) {
    .header-content {
        width: 600px;
    }

    .social-navigation {
        width: 550px;
    }
}

@media (min-width: 1024px) {
    .header-content {
        width: 800px;
    }

    .social-navigation {
        width: 700px;
    }

    .social_info_image_for_small {
        display: none
    }
}
