* {
	border: 1px solid black;
}

body {
    padding 20px;
    margin: 0;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
}

.orange {
    background-color: orange;
    flex: 1 1 600px;
}

.brown {
    background-color: brown;
    flex: 1 1 400px;
    max-width: 500px;
}

.green {
    background-color: green;
    flex: 1 1 300px;
}

.item {
	height: 100px;
}